$color1: rgba(31, 167, 56, 0.822);
$color2:rgba(255, 255, 255, 0.966);
$color3: rgba(4, 179, 4, 0.87);
$bgcolor1: rgba(0, 0, 0, 0.863);
$bgcolor2: rgba(70, 70, 70, 0.404);
$fontstyle1: oblique;
$fontfamily1:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fontfamily2: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
$fontfamily3: Verdana, Geneva, Tahoma, sans-serif;
$fontfamily4: sans-serif;
$fontweight:100;